{erl_opts, [debug_info]}.

{deps, []}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [
    {dir, ["test/eunit"]}
]}.

{relx, [{release, {leetcode_erlang, "0.1.0"},
    [
        sasl
        , leetcode_erlang
    ]},

    {dev_mode, true},
    {include_erts, true},
    {include_src, false},
    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.